<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 .col-md-4">
      <!--Body content-->
        <div class="phones" 
          ng-class="{active:mainOneUrl==img}"
          ng-show="showImageOne">
          <img 
            height="175" 
            ng-src="{{imageOneUrl}}" 
            ng-click="increment('one')">
            <P><p><button 
              ng-click="increment('one')">{{button_one}}</button><p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 .col-md-4">
      <div class="phones"
        ng-class="{active:mainTwoUrl==img}"
        ng-show="showImageTwo">
          <img 
          height="175" 
          ng-src="{{imageTwoUrl}}" 
          ng-click="increment('two')">
          <P><p><button 
          ng-click="increment('two')">{{button_two}}</button></p>
      </div>
    </div>
  </div>
</div>
</div>
